	<div class="single-item">
			<div class="slid"><%= image_tag("watercolor_00279.jpg",class: "c") %></div>
		    <div class="slid"><%= image_tag("watercolor_00074.jpg",class: "c") %></div>
		    <div class="slid"><%= image_tag("watercolor_00043.jpg",class: "c") %></div>
	</div>
	<!-- about -->
	<section id="sec01">
			<h2><span>about</span></h2>
		<div class="innerS">
			<h1>人とアートをつなげるアプリ</h1>
			<h3>個人制作している作品の展示会場として利用してください。</h3>
		</div>
	</section>
