	<div class="single-item">
			<div class="slid"><img class="c" src="assets/watercolor_00279.jpg"></div>
		    <div class="slid"><img class="c" src="assets/watercolor_00074.jpg"></div>
		    <div class="slid"><img class="c" src="assets/watercolor_00043.jpg"></div>
	</div>
	<!-- about -->
	<section id="sec01">
			<h2><span>about</span></h2>
		<div class="innerS">
			<h1>人とアートをつなげるアプリ</h1>
			<h3>個人制作している作品の展示会場を提供します。</h3>
		</div>
	</section>
